
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* mix */
.debug{
  background-color: rgba(0, 0, 0, .7);
  border: .5px solid white;
}

.content-center{
  text-align: center;
}

.content-middle{
  vertical-align: middle;
}
/* /mix */


/* float */
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}
/* /float */


/* position */
  .po-fixed{
    position: fixed;
  }

  .po-relative{
    position: relative;
  }
/* /position */


/* flex */
.flex{
  display: flex;
}

.jus-end{
  justify-content: flex-end;
}

.jus-start{
  justify-content: flex-start;
}

.jus-center{
  justify-content: center;
}

.jus-space-between{
  justify-content: space-between;
}

.ali-space.between{
  align-items: space-between;
}

.ali-end{
  align-items: flex-end;
}

.ali-start{
  align-items: flex-start;
}

.ali-center{
  align-items: center;
}

.column{
  flex-direction: column;
}

.wrap{
  flex-wrap: wrap;
}
/* /flex */


/* width */
.w-10{
  width: 10%;
}

.w-20{
  width: 20%;
}

.w-30{
  width: 30%;
}

.w-40{
  width: 40%;
}

.w-50{
  width: 50%;
}

.w-60{
  width: 60%;
}

.w-70{
  width: 70%;
}

.w-80{
  width: 80%;
}

.w-90{
  width: 90%;
}

.w-100{
  width: 100%;
}

.margin-auto{
  margin: 0 auto;
}
/* width */


/* height */
.h-50{
  height: 50px;
}

.h100{
  height: 100px;
}

.h300{
  height: 300px;
}

.h500{
  height: 500px;
}
/* /height */


